version: "3.9"
services:
  web:
    image: san08k/devops-project:latest

    ports:
      - "8000:5000"
    volumes:
      - .:/code
  redis:
    image: "redis:alpine"
    volumes:
    - redis-data:/data
volumes:
    redis-data:



