version: "3.9"
services:
  web:
    image: san08k/devops-project:latest
    deploy: 
     replicas: 3
    volumes: 
     - .:/code

  nginx: 
     image: nginx:alpine
     ports:
     - "5000:80"

     volumes: 
     - /home/sandeep/devops-project/nginx.conf:/etc/nginx/nginx.conf:ro
     depends_on:

      - web

   
  redis:
    image: "redis:alpine"
    volumes:
    - redis-data:/data
volumes:
    redis-data:



