name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          # REPLACE BELOW with your actual Docker Hub username!
          tags: san08k/devops-project:latest

  deploy:
    needs: build
    runs-on: self-hosted
    steps:
      - name: Pull and Restart App
        run: |
          cd ~/devops-project
          docker compose pull
          docker compose up -d --remove-orphans
          docker image prune -f
          